* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

@keyframes load {
	0% {
		opacity: 0.08;
		/*         font-size: 10px; */
		/* 				font-weight: 400; */
		filter: blur(5px);
		letter-spacing: 3px;
	}

	100% {
		/*         opacity: 1; */
		/*         font-size: 12px; */
		/* 				font-weight:600; */
		/* 				filter: blur(0); */
	}
}

.animate {
	font-size: 50px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	height: 100%;
	margin: auto;
	align-items: baseline;
	/* 	width: 350px; */
	/* 	font-size:26px; */
	font-family: Helvetica, sans-serif, Arial;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 5px 5px 10px white;
}

body,
html {

	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);


}

.Igreja {
	margin-top: 0%;
	margin-block-end: 0%;
	text-align: center;
	font-family: 'Cookie', cursive;
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 100;
	line-height: 50px;
	letter-spacing: 5px;
	word-spacing: 50px;
	text-align: center;
	text-shadow: 5px 5px 5px yellow;

}

/*
#foto{
	border: top 0%;
	border-width: 0vh;
	margin-top: 0%;
		
}*/
#nos-existimos {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif color;
	font-size: 35px;
	font-weight: 100;
	line-height: 70px;
	letter-spacing: 5px;
	word-spacing: 10px;
	text-align: center;
	text-transform: capitalize;
	text-shadow: 10px 10px 10px rgb(0, 234, 255);
}

#Tempo {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 30px;
	color: rgb(12, 168, 240);
	font-size: 40px;
	text-shadow: 5px 5px 5px coral;
	text-decoration: overline;
	letter-spacing: 5px;
}

#Vem {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: yellow;
	border: none;
	background: linear-gradient(0deg, rgb(22, 21, 21) 0%, rgb(44, 113, 182) 100%);
	overflow: hidden;
}



#Home {
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
}

#Fotos {
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
}

#Programaçao {
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
}

#Dizimos {
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
}

#Quem-Somos {
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
}

#Contato:hover, :focus{
	font-size: 15px;
	cursor: pointer;
	color: rgb(255, 255, 255);
	border: 2px;
	border-style: double;
	background-color: rgb(9, 142, 182);
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  	transform: translateY(-0.25em);
}


@keyframes pulse {
	0% { box-shadow: 0 0 0 0 var(--hover); }
  }